@model ItalTech.Areas.Admin.Models.RegisterUserViewModel

@{
    var userId = (string)ViewBag.UserId;
    var username = (string)ViewBag.Username;
}

<h4>@ViewData["Title"]</h4>
<h6>La password che si inserisce è provvisoria: dopo il reset, al primo login, l'utente dovrà obbligatoriamente cambiarla</h6>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="idChangeUserPassword" asp-area="Admin" asp-controller="Gestione" asp-action="ChangeUserPasswordPost" >
            <input type="hidden" name="userId" value="@userId" />
            <input type="hidden" name="UserName" value="@username" />
            <input id="idSendedEmail" type="hidden" name="IsSendedEmail" value="true" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Salva" class="btn btn-primary" onclick="return askSendEmail();"/>
                <a asp-area="Admin" asp-controller="Gestione" asp-action="Index" class="btn btn-primary">Annulla</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    function askSendEmail() {
        myCustomModalConfirmShow("Invio password temporanea", "Vuoi inviare un'email all'utente con la password appena resettata?", sendEmailConfirm,  sendEmailCancel, "Si" , "No" );
        return false;

    }
    function sendEmailConfirm() {
        $("#idSendedEmail").val("true");
        $('#idChangeUserPassword').submit();
    }

    function sendEmailCancel() {
        $("#idSendedEmail").val("false");
        $('#idChangeUserPassword').submit();

    }
</script>