@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="">
        <div class="text-center">
            <h1>ItalTech</h1>
            <h2>Facciamo un baffo alla DELL</h2>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-secondary" asp-area="Progettazione" asp-controller="Progettazione" asp-action="Start">Guarda tutti i progetti</a>
            }
            else
            {
                <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Iscriviti</a>
            }

        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="\img\Euro.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Ultimi progetti</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" asp-area="Progettazione" asp-controller="Progettazione" asp-action="Start"><label class="card-text">Progetti</label></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="\img\Euro.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Sezione Test</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" asp-area="Testing" asp-controller="Testing" asp-action="EffettuaTest"><label class="card-text">Richiedi Test</label></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="\img\Euro.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Richieste Progetto</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" asp-area="Progettazione" asp-controller="Progettazione" asp-action="CreaRichiestaProgetto"><label class="card-text">New Richiesta Progetto</label></a>
                </div>
            </div>
        </div>
    </div>
</div>
