@using ItalTech.Areas.Testing.Models
@model Test

<h3 class="text-center text-secondary">Inserisci nuovo Test</h3>


<section class="bg-light">
    <div id="divFormTest" class="container">
        <form id="idFormTest" class="form-group" asp-action="CreaTest" method="post">
            <partial name="_FormInputTest" model="@Model" />
            <div class="row p-2">
                <div class="col-lg-10 col-md-10 col-sm-12 text-right">
                    <input class="btn btn-info" type="submit" value="Salva" onclick="salvaTest()" />
                </div>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    function salvaTest() {
        document.getElementById("idFormTest").submit();
    }
</script>