@using ItalTech.Areas.Testing.Models
@model Test

<h1 class="display-5">Sezione Testing</h1>
<br />
<section class="bg-light">
    <div class="container-fluid">
        <h2 style="bold">Lista Test Disponibili</h2>
        <p>Da Riempire con la lista dei test disponibili</p>
    </div>
</section>
