@using ItalTech.Areas.Progettazione.Models
@model Progetto

<div class="row mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="Codice"></label>
        <input id="idInputCodice" type="text" class="form-control" asp-for="Codice" readonly />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="DataInizio"></label>
        <input id="idInputDataInizio" type="datetime-local" class="form-control" asp-for="DataInizio" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="DataFine"></label>
        <input id="idInputDataFine" type="datetime-local" class="form-control" asp-for="DataFine" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="NomeProgetto"></label>
        <input id="idInputNomeProgetto" type="text" class="form-control" asp-for="NomeProgetto" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="Cliente"></label>
        <input id="idInputCliente" type="text" class="form-control" asp-for="Cliente" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="Tipo"></label>
        <select class="custom-select" asp-for="Tipo" id="idInputTipo">
                    <option>Case</option>
                    <option>Assemblato</option>
        </select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="CodiceAnalisiMercato"></label>
        <input id="idInputCodiceAnalisiMercato" type="text" class="form-control" asp-for="CodiceAnalisiMercato" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="CostoPrevisto"></label>
        <input id="idInputCostoPrevisto" type="text" class="form-control" asp-for="CostoPrevisto" />
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="CostoFinale"></label>
        <input id="idInputCostoFinale" type="text" class="form-control" asp-for="CostoFinale" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <div class="input-group mt-5">
            <label asp-for="ProjectManager" class="mt-1 mr-2" ></label>
            <input asp-for="ProjectManager" id="idInputProjectManager" readonly class="form-control" />
            <div id="divAllImpiegati" class="input-group-append">
                <button id="buttonViewSelezioneImpiegati" type="button" title="Fornisce la lista degli impiegati esistenti" class="btn btn-primary dropdown-toggle dropdown-toggle-split" onclick="showDynamicViewAllImpiegati('/Progettazione/Progettazione/GetAllImpiegatiModal')">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
        <label asp-for="Descrizione"></label>
        <textarea class="form-control" id="idInputDescrizione" rows="3" asp-for="Descrizione"></textarea>
    </div>
</div>

<div id="Div_DynamicViewAllImpiegati" class="positionFixed setDarkBackground" style="display:none">
    <div class="finestraPopup">
        <div id="Div_DynamicView_ContainerAllImpiegati">

        </div>
    </div>
</div>

<script type="text/javascript">
    var callbackGenericTableImpiegati;
    function showDynamicViewAllImpiegati(url) {
        checkOpenGenericTable = "Impiegati";
        $("#Div_DynamicView_ContainerAllImpiegati").load(url);
        $("#Div_DynamicViewAllImpiegati").show();
        dispatchOpenPopupCustomEvent('ViewAllImpiegatiModal');
        if (callbackGenericTable !== undefined) {
            document.removeEventListener('closedPopup_CustomEvent', callbackGenericTable(showDynamicViewAllImpiegati), false);
        }
    }

    function call_setContainerGenericTableImpiegati() {
        setContainerGenericTable('Div_DynamicViewAllImpiegati', 'Div_DynamicView_ContainerAllImpiegati', 'ViewAllImpiegatiModal', callbackGetValueSelectedImpiegati);
    }
    function callbackGetValueSelectedImpiegati(selectedValuesImpiegati) {
        setSelectedValuesImpiegati(selectedValuesImpiegati);
    }
    function setSelectedValuesImpiegati(valuesImpiegati) {
        if (valuesImpiegati == null) {
            return false;
        }
        $("#idInputProjectManager").val(valuesImpiegati.AziendaID);
    }

</script>