@using ItalTech.Areas.Progettazione.Models
@model Progetto

<h3 class="text-center text-secondary">Crea Nuovo Progetto</h3>

<section class="bg-light">
    <div class="container">
        <form id="idFormProgetto" class="form-group" asp-action="CreaProgetto" method="post">
            <partial name="_FormInputProgetto" model="@Model" />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                    <input class="btn btn-info" type="button" value="Salva" onclick="salva()" />
                </div>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    function salva() {
        document.getElementById("idFormProgetto").submit();
    }

    //serve a disinguere le chiamate in callback da genericTable
    var checkOpenGenericTable = "";

    document.addEventListener('openPopup_CustomEvent', (event) => {
        if (event.Sender === "GenericTable") {
            if (checkOpenGenericTable == "Impiegati") {
                call_setContainerGenericTableImpiegati();
            }
        }
    }, false)

</script>