@using ItalTech.Areas.Progettazione.Models
@model RichiestaProgetto

<h3 class="text-center text-secondary">Modifica Richiesta Progetto</h3>
<div>
    <div id="divPanelCheck" class="row p-4">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-1 text-right">
            <div class="input-group">
                <label class="mt-1 mr-2">Codice Richiesta Progetto: </label>
                <input id="idInputCodiceCheckRichiestaProgetto" class="form-control" value="" />
                <div id="divAllRichiestaProgetto" class="input-group-append">
                    <button id="buttonViewCodiceRichiestaProgetto" title="Fornisce la lista dei richieste progetto esistenti" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" onclick="showDynamicViewAllRichiesteProgetti('/Progettazione/Progettazione/GetAllRichiesteProgettiModal')">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-1 col-sm-12 mb-1 text-right">
            <label id="btnOkCheck" class="mr-1">
                <button type="button" class="btn btn-secondary btn-sm" style="width:85px" title="Verifica se esiste il codice del progetto inserito e lo carica" onclick="checkRichiestaProgettoExists()"><i class="fa fa-check"></i> Verifica</button>
            </label>
        </div>
    </div>
</div>

<section class="bg-light">
    <div id="divFormRichiestaProgetto" class="container" style="display:none">
        <form id="idFormModificaRichiestaProgetto" class="form-group" asp-action="ModificaRichiestaProgetto" method="post">
            <partial name="_FormInputRichiestaProgetto" model="@Model" />
            <div class="row p-2">
                <div class="col-lg-10 col-md-10 col-sm-12 text-right">
                    <input class="btn btn-info" type="button" value="Salva" onclick="salvaRichiestaProgetto()" />
                </div>
                <div class="col-lg-1 col-md-2 col-sm-12 text-right">
                    <input class="btn btn-info" type="button" onclick="removeRichiestaProgetto()" value="Rimuovi" />
                </div>
            </div>
        </form>
    </div>
</section>

<div id="Div_DynamicViewAllRichiesteProgetti" class="positionFixed setDarkBackground" style="display:none">
<div class="finestraPopup">
    <div id="Div_DynamicView_ContainerAllRichiesteProgetti">

    </div>
</div>
</div>

<script type="text/javascript">
    function salvaRichiestaProgetto() {

        document.getElementById("idFormModificaRichiestaProgetto").submit();

    }

    var checkOpenGenericTable = "";

    document.addEventListener('openPopup_CustomEvent', (event) => {
        if (event.Sender === "GenericTable") {
            if (checkOpenGenericTable == "Impiegati") {
                call_setContainerGenericTableImpiegati();
            }
            if(checkOpenGenericTable == "RichiestaProgetto") {
                call_setContainerGenericTableRichiestaProgetto();
            }
        }
    }, false)
    var callbackGenericTable;  //viene definita in GenericTable
    function showDynamicViewAllRichiesteProgetti(url) {
        checkOpenGenericTable = "RichiestaProgetto";
        $("#Div_DynamicView_ContainerAllRichiesteProgetti").load(url);
        $("#Div_DynamicViewAllRichiesteProgetti").show();
        dispatchOpenPopupCustomEvent('ViewAllRichiesteProgettiModal');
        if (callbackGenericTable !== undefined) {
            document.removeEventListener('closedPopup_CustomEvent', callbackGenericTable(showDynamicViewAllRichiesteProgetti), false);
        }
    }

    function call_setContainerGenericTableRichiestaProgetto() {
        setContainerGenericTable('Div_DynamicViewAllRichiesteProgetti', 'Div_DynamicView_ContainerAllRichiesteProgetti', 'ViewAllRichiesteProgettiModal', callbackGetValueSelectedRichiestaProgetto);
    }
    function callbackGetValueSelectedRichiestaProgetto(selectedValues) {
        setSelectedValuesRichiestaProgetto(selectedValues);
    }
    function setSelectedValuesRichiestaProgetto(values) {
        if (values == null) {
            return false;
        }
            //qui devi mettere gli id degli input che vuoi inserire e i nomi delle variabili sono values.nomedellacolonnadellatabella
            $("#idInputCodice").val(values.Codice);
            $("#idInputCodiceProgetto").val(values.CodiceProgetto);
            $("#idInputTipo").val(values.Tipo);
            $("#idInputBudget").val(values.budget);
            $("#idInputOperatore").val(values.Operatore);
            $("#idInputDescrizione").val(values.Descrizione);
            $('#divPanelCheck').css('display', 'none');
            $('#divFormRichiestaProgetto').css('display', 'block');
            
        
    }
    function checkRichiestaProgettoExists() {
        var codice = $('#idInputCodiceCheckRichiestaProgetto').val();
        if (codice == "" || codice == undefined) {
            myCustomModalAlertShow("Dati incompleti", "Inserire il Codice Richiesta Progetto da verificare");
            return;
        }
        $.ajax({
            type: "GET",
            url: "/Progettazione/Progettazione/GetRichiestaProgetto?codice=" + codice,
            contentType: "application/json",
            success: function (response) {
                if (!response.isSucces) {
                    if (response.message != null && response.message != undefined && response.message != '') {
                        myCustomModalAlertShow("Dati non validi", response.message);
                    }
                    else {
                        myCustomModalAlertShow("Dati non validi", response);
                    }
                }
                else {
                    if (response.result == null) {
                        myCustomModalAlertShow("Attenzione", response.message);
                    }
                    else {
                        $("#idInputCodice").val(responce.response.codice);
                        $("#idInputCodiceProgetto").val(responce.response.codiceProgetto);
                        $("#idInputTipo").val(responce.response.tipo);
                        $("#idInputBudget").val(responce.response.budget);
                        $("#idInputOperatore").val(responce.response.operatore);
                        $("#idInputDescrizione").val(responce.response.descrizione);
                        $('#divPanelCheck').css('display', 'none');
                        $('#divFormRichiestaProgetto').css('display', 'block');

                    }
                }
            },
            error(jqXHR, textStatus) {
                myCustomModalAlertShow("Errore generico", textStatus);
            }
        });
    }
    function removeRichiestaProgetto() {
        document.getElementById("idFormModificaRichiestaProgetto").setAttribute("action", "EliminaRichiestaProgetto");
        document.getElementById("idFormModificaRichiestaProgetto").submit();
        document.getElementById("idFormModificaRichiestaProgetto").setAttribute("action", "ModificaRichiestaProgetto")
    }

</script>
