<div class="col-sm-2">
    <nav class="navbar navbar-toggleable-sm navbar-light bg-dark border-danger box-shadow mb-sm-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-area="Progettazione" asp-controller="Progettazione" asp-action="Start">Panoramica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="Progettazione" asp-controller="Progettazione" asp-action="ArchivioProgetti">Archivio Progetti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="Progettazione" asp-controller="Progettazione" asp-action="CreaProgetto">Nuovo Progetto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="Progettazione" asp-controller="Progettazione" asp-action="ModificaProgetto">Modifica Progetto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="Progettazione" asp-controller="Progettazione" asp-action="RichiesteProgetto">Richieste Progetto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="Progettazione" asp-controller="Progettazione" asp-action="CreaRichiestaProgetto">Nuova Richiesta Progetto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>